<a href="https://colab.research.google.com/github/Jiraporn-klobrat/DWDM21/blob/main/Chapter6_Association_Rules.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd  #ข้อมูลลักษณะตาราง # pandas เป็น Package ที่ใช้เกี่ยวกับการจัดการข้อมูลที่เป็นตาราง , เรียกใช้โดยการ import แล้วตามด้วยชื่อ Package
import os                 #จัดการไฟล์ และ path # เป็น package ที่เอาไว้จัดการไฟล์และเอาไว้ดูที่มาของไฟล์หรือ path

In [2]:
from google.colab import drive    # เชื่อม google drive ที่เราเก็บข้อมูลไว้
drive.mount('/content/drive')
path = '/content/drive/My Drive/DWDM2021_DATA'    #สร้างตัวแปรเชื่อมไปที่ drive #ระบุให้ชี้ไปที่โฟลเดอร์ใน google drive ที่เราเซฟไฟล์ไว้

Mounted at /content/drive

In [3]:
data = pd.read_csv(os.path.join(path,'reduced_marketbasket.csv'),encoding='latin1')  # ไฟล์ที่เราต้องการ

In [4]:
data   # print data ดูว่าข้อมูลหน้าตาเป็นแบบไหน

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

# [Q] มีประเทศสาขาของ supermarket นี้ทั้งหมดกี่ประเทศ

In [5]:
set(data['Country'])  # ดูว่าข้อมูลนี้มีประเทศอะไรบ้าง

{'Australia',
 'Austria',
 'Bahrain',
 'Belgium',
 'Brazil',
 'Canada',
 'Channel Islands',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'EIRE',
 'European Community',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hong Kong',
 'Iceland',
 'Israel',
 'Italy',
 'Japan',
 'Lebanon',
 'Lithuania',
 'Malta',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'RSA',
 'Saudi Arabia',
 'Singapore',
 'Spain',
 'Sweden',
 'Switzerland',
 'USA',
 'United Arab Emirates',
 'United Kingdom',
 'Unspecified'}

In [6]:
len(set(data['Country']))

38

# [HW13] วาดกราฟสรุปจำนวน items และ ยอดขายของแต่ละประเทศ

เข้ามารอบที่สอง ก็ยังไม่รู้จะเริ่มยังไง ทำไม่เป็นค่ะ

In [7]:
import matplotlib.pyplot as plt

In [8]:
import numpy as np

In [16]:
data.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [ ]:
# รอบที่สาม ทำไม่ได้อยู่ดี

แปะลิ้งค่ะ เดี๋ยวกลับมาทำต่อ ขอไปดูก่อน
https://ichi.pro/th/kar-wikheraah-kar-khay-phlitphanth-doy-chi-python-147588649216343