<a href="https://colab.research.google.com/github/Jiraporn-klobrat/DWDM21/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน textbox จะเป็นภาษา markdown

ข้อดีหนึ่งของ Phython คือมี package สำหรับทำงานต่างๆมากมาย

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [1]:
import pandas     # วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package

In [2]:
import pandas as pd  # เหมือนกับข้างบนแต่ว่าตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv  (CSV = comma separated values) เป็นไฟล์หลักที่เราจะได้ใช้กันในวิชานี้

In [3]:
data_df = pd.read_csv( 'data.csv' )     #เรียกใช้ตารางที่เราสร้างโดยใช้คำสั่ง pd.read_csv('_')

In [4]:
data_df     #แสดงตาราง data.csv

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [5]:
data_df2 = pandas.read_csv( 'data.csv' )
data_df2                                                 #ใช้คำสั่งในเซลล์เดียวกันได้

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

# Basic  Phython
## Variables

ข้อกำหนดในการตั้งชื่อตัวแปร


1. ชื่อห้ามมีเว้นวรรค
2. (พยายาม) ใช้ภาษาอังกฤษ
3. ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [6]:
variable_a = 12
variable_b = 'abcde'      # ' ' เรียกว่า quote
variable_c = variable_a

In [7]:
variable_a

12

In [8]:
variable_b

'abcde'

In [9]:
variable_c

12

#### ทำตามที่กำหนด

In [11]:
# ชื่อห้ามมีเว้นวรรค
variable a = 6

SyntaxError: ignored

In [12]:
#  (พยายาม) ใช้ภาษาอังกฤษ
# colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้ แต่ไม่ควรใช้
ตัวแปร = 3
ตัวแปร

3

In [13]:
# ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [14]:
# ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1
v_a = 2
print(v_a)
print(v_a)

2
2

In [16]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2 = 1

SyntaxError: ignored

In [18]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

SyntaxError: ignored

In [19]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
variable1 = 1

In [20]:
print(variable1)

1

In [21]:
variable_a = 12
variable_b = 'abcde'      # ' ' เรียกว่า quote
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU"       # " "  เรียกว่า double quote

In [22]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [24]:
variable_a + variable_b      #ตัวเลขบวกกับตัวอักษรไม่ได้

TypeError: ignored

In [25]:
print(variable_b + variable_4)     #ตัวแปรชนิดเดียวกันบวกกันได้

abcdeKKU

## Casting int() float() str()

In [26]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [123]:
print(str(variable_x))

-29.200000000000003

In [27]:
V_X = str(variable_x)
print(V_X)

-29.200000000000003

In [29]:
V_X + variable_a     #ไม่สามารถบวกกันได้

TypeError: ignored

In [76]:
variable_a+ V_X

TypeError: ignored

In [124]:
V_X    #เป็น str เนื่องจากการแสดงผลมี qoute

'-29.200000000000003'

In [77]:
float(V_X)       # เปลี่ยนค่าตัวเลขโดยใช้คำสั่ง float

-29.200000000000003

## Data Structure

### list()

In [78]:
list_a = [1,2,0.2,'abc']     #  [ ] square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [79]:
list_a

[1, 2, 0.2, 'abc']

In [80]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abc'], [1, 2, 0.0]]

In [81]:
len(list_b)      # นับจำนวนว่าใน list มีกี่ตัว

4

In [82]:
list_b[3]      # การชี้ข้อมูลใน list ที่ต้องการ

[1, 2, 0.0]

In [83]:
list_b[3][1]      #การชี้ข้อมูลตัวที่ 3 ของ list_b และชี้ข้อมูลตัวที่ 1 ในข้อมูล list_b ตัวที่ 3 อีกที

2

string คือ list ของตัวหนังสือ

In [84]:
a = 'Stat KKU'

In [85]:
a[4]   #ข้อมูลตัวที่ 4 คือ วรรค

' '

### วิธีการสร้าง list ว่าง

In [86]:
list_c = list()   # แบบที่1
list_d = []      # แบบที่2

In [87]:
list_c

[]

In [88]:
list_d

[]

#### เติมค่าลงไปใน list (.append())

In [89]:
list_d.append('a')

In [90]:
list_d

['a']

In [91]:
list_d.append(56)

In [92]:
list_d

['a', 56]

#### การชี้ค่าใน list (indexing)


1. ใช้ลำดับในการชี้
2. ลำดับเริ่มจาก 0
3. สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [93]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abc'], [1, 2, 0.0]]

In [94]:
list_b[-1]

[1, 2, 0.0]

#### list slicing

In [95]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า : ตัวก่อนตัวหลัง]   

ถ้าเป็นสัญลักษณ์คณิตศาสตร์[ตัวหน้า:ตัวหลัง] -> [ตัวหน้า,ตัวหลัง]

In [96]:
list_ex[1:6]     # ตัดข้อมูลใน list_ex  โดยไม่เอาตัวแรกและตัวสุดท้าย

[2, 3, 5, 6, 8]

In [97]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [98]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

#### [จุดเริ่มต้น:จุดสุดท้าย:step]

In [99]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [100]:
list_ex[::2]     #เลือกตัวแรกเว้น 1ตัวกระโดดไปเอาตัวถัดไป

[1, 3, 6, -1, 50]

In [101]:
list_ex[::-1]      # การกลับ list โดยใช้ step -1

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [102]:
a

'Stat KKU'

In [103]:
a[0:4]

'Stat'

วิธีตัดให้เหลือแค่ KKU

In [104]:
a[5:8]

'KKU'

In [105]:
a[5:8]

'KKU'

In [106]:
a[-3:]

'KKU'

In [107]:
a[5::]

'KKU'

In [108]:
a[-3::1]

'KKU'

#### list + list

In [109]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abc']
[2, 'xyz', [1, 2, 0.2, 'abc'], [1, 2, 0.0]]

In [110]:
list_a + list_b       #เอาข้อมูลตัวแปรใน list ทั้งสองตัวมาต่อกัน

[1, 2, 0.2, 'abc', 2, 'xyz', [1, 2, 0.2, 'abc'], [1, 2, 0.0]]

In [ ]:
list_b + list_a #สลับตำแหน่ง list ข้อมูลก็จะเรียงจากตัวแปรของ list ตัวแรก

#### format string

```python
    f'string{ตัวแปร}' 
```
{} เรียกว่า curly brackets

In [111]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abc']"

## Loop

```python
  for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป : 
     do something
  ```

In [125]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [112]:
for i in [1,2,3,4,5]:
    print(i+1)

2
3
4
5
6

In [113]:
for x in [1,2,3,4,5]:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [114]:
list5=[1,2,3,4,5]
for x in list5:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [115]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [116]:
for i in range(2,7):
    print(i)

2
3
4
5
6

In [117]:
for i in range(2,7,2):
    print(i)

2
4
6

In [118]:
for i in range(5):
    print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [119]:
for i in range(5):
    print('hahaha')
    x = i + 3
    print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

### Nested loop

In [120]:
for i in range(3):
    print(f'now i = {i}')
    print('start j loop')
    for j in range(4):
        print(f'i = {i} j = {j} i+j = {i+j}')
    print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

## Condition
## Function