<a href="https://colab.research.google.com/github/Jiraporn-klobrat/DWDM21/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ข้อความที่อยู่ใน textbox จะเป็นภาษา markdown

ข้อดีหนึ่งของ Phython คือมี package สำหรับทำงานต่างๆมากมาย

ซึ่ง pandas เป็น package สำหรับการทำงานกับข้อมูลที่อยู่ในรูปแบบตาราง

โดย pandas จะเรียกตารางนั้นว่า dataframe

In [14]:
import pandas     # วิธีเรียกใช้ package คือ import ตามด้วยชื่อ package

In [15]:
import pandas as pd  # เหมือนกับข้างบนแต่ว่าตั้งชื่อให้ package ที่โหลดมาใหม่ว่า pd

ไฟล์ .csv  (CSV = comma separated values) เป็นไฟล์หลักที่เราจะได้ใช้กันในวิชานี้

In [16]:
data_df = pd.read_csv( 'data.csv' )     #เรียกใช้ตารางที่เราสร้างโดยใช้คำสั่ง pd.read_csv('_')

In [17]:
data_df     #แสดงตาราง data.csv

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

In [18]:
data_df2 = pandas.read_csv( 'data.csv' )
data_df2                                                 #ใช้คำสั่งในเซลล์เดียวกันได้

    name  age       city
0    Tom   27  Khon Kaen
1   Paul   15    Bangkok
2  Sarah   49     London

# Basic  Phython
## Variables

ข้อกำหนดในการตั้งชื่อตัวแปร


1. ชื่อห้ามมีเว้นวรรค
2. (พยายาม) ใช้ภาษาอังกฤษ
3. ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [19]:
variable_a = 12
variable_b = 'abcde'      # ' ' เรียกว่า quote
variable_c = variable_a

In [20]:
variable_a

12

In [21]:
variable_b

'abcde'

In [22]:
variable_c

12

#### ทำตามที่กำหนด

In [24]:
# ชื่อห้ามมีเว้นวรรค
variable a = 6

SyntaxError: ignored

In [25]:
#  (พยายาม) ใช้ภาษาอังกฤษ
# colab ใช้ภาษาไทยเป็นชื่อตัวแปรได้ แต่ไม่ควรใช้
ตัวแปร = 3
ตัวแปร

3

In [26]:
# ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1
V_a = 2
print(v_a)
print(V_a)

1
2

In [27]:
# ตัวเล็กกับตัวใหญ่แตกต่างกัน (case sensitive)
v_a = 1
v_a = 2
print(v_a)
print(v_a)

2
2

In [29]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2 = 1

SyntaxError: ignored

In [36]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
2ab = 1

SyntaxError: ignored

In [37]:
# ห้ามใช้ตัวเลขเป็นตัวหน้า
variable1 = 1

In [38]:
print(variable1)

1

In [39]:
variable_a = 12
variable_b = 'abcde'      # ' ' เรียกว่า quote
variable_c = variable_a
variable_d = -41.2
variable_4 = "KKU"       # " "  เรียกว่า double quote

In [40]:
variable_x = variable_c + variable_d
print(variable_x)

-29.200000000000003

In [42]:
variable_a + variable_b      #ตัวเลขบวกกับตัวอักษรไม่ได้

TypeError: ignored

In [43]:
print(variable_b + variable_4)     #ตัวแปรชนิดเดียวกันบวกกันได้

abcdeKKU

## Casting int() float() str()

In [44]:
print(variable_x)
print(int(variable_x))

-29.200000000000003
-29

In [45]:
print(str(variable_x))

-29.200000000000003

In [46]:
V_X = str(variable_x)
print(V_X)

-29.200000000000003

In [48]:
V_X + variable_a     #ไม่สามารถบวกกันได้

TypeError: ignored

In [50]:
variable_a+ V_X

TypeError: ignored

In [51]:
V_X    #เป็น str เนื่องจากการแสดงผลมี qoute

'-29.200000000000003'

In [52]:
float(V_X)       # เปลี่ยนค่าตัวเลขโดยใช้คำสั่ง float

-29.200000000000003

## Data Structure

### list()

In [98]:
list_a = [1,2,0.2,'abc']     #  [ ] square brackets
list_b = [2,'xyz',list_a,[1,2,0.0]]

In [99]:
list_a

[1, 2, 0.2, 'abc']

In [100]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abc'], [1, 2, 0.0]]

In [101]:
len(list_b)      # นับจำนวนว่าใน list มีกี่ตัว

4

In [102]:
list_b[3]      # การชี้ข้อมูลใน list ที่ต้องการ

[1, 2, 0.0]

In [103]:
list_b[3][1]      #การชี้ข้อมูลตัวที่ 3 ของ list_b และชี้ข้อมูลตัวที่ 1 ในข้อมูล list_b ตัวที่ 3 อีกที

2

string คือ list ของตัวหนังสือ

In [104]:
a = 'Stat KKU'

In [105]:
a[4]   #ข้อมูลตัวที่ 4 คือ วรรค

' '

### วิธีการสร้าง list ว่าง

In [143]:
list_c = list()   # แบบที่1
list_d = []      # แบบที่2

In [144]:
list_c

[]

In [145]:
list_d

[]

#### เติมค่าลงไปใน list (.append())

In [180]:
list_d.append('a')

In [181]:
list_d

['a', 56, 'a']

In [182]:
list_d.append(56)

In [183]:
list_d

['a', 56, 'a', 56]

#### การชี้ค่าใน list (indexing)


1. ใช้ลำดับในการชี้
2. ลำดับเริ่มจาก 0
3. สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [184]:
list_b

[2, 'xyz', [1, 2, 0.2, 'abc'], [1, 2, 0.0]]

In [185]:
list_b[-1]

[1, 2, 0.0]

#### list slicing

In [186]:
list_ex = [1,2,3,5,6,8,-1,20,50,0]

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า : ตัวก่อนตัวหลัง]   

ถ้าเป็นสัญลักษณ์คณิตศาสตร์[ตัวหน้า:ตัวหลัง] -> [ตัวหน้า,ตัวหลัง]

In [187]:
list_ex[1:6]     # ตัดข้อมูลใน list_ex  โดยไม่เอาตัวแรกและตัวสุดท้าย

[2, 3, 5, 6, 8]

In [188]:
list_ex[4:]

[6, 8, -1, 20, 50, 0]

In [189]:
list_ex[:6]

[1, 2, 3, 5, 6, 8]

#### [จุดเริ่มต้น:จุดสุดท้าย:step]

In [190]:
list_ex

[1, 2, 3, 5, 6, 8, -1, 20, 50, 0]

In [191]:
list_ex[::2]     #เลือกตัวแรกเว้น 1ตัวกระโดดไปเอาตัวถัดไป

[1, 3, 6, -1, 50]

In [192]:
list_ex[::-1]      # การกลับ list โดยใช้ step -1

[0, 50, 20, -1, 8, 6, 5, 3, 2, 1]

In [193]:
a

'Stat KKU'

In [194]:
a[0:4]

'Stat'

วิธีตัดให้เหลือแค่ KKU

In [195]:
a[5:8]

'KKU'

In [196]:
a[5:8]

'KKU'

In [197]:
a[-3:]

'KKU'

In [198]:
a[5::]

'KKU'

In [199]:
a[-3::1]

'KKU'

#### list + list

In [200]:
print(list_a)
print(list_b)

[1, 2, 0.2, 'abc']
[2, 'xyz', [1, 2, 0.2, 'abc'], [1, 2, 0.0]]

In [201]:
list_a + list_b       #เอาข้อมูลตัวแปรใน list ทั้งสองตัวมาต่อกัน

[1, 2, 0.2, 'abc', 2, 'xyz', [1, 2, 0.2, 'abc'], [1, 2, 0.0]]

In [202]:
list_b + list_a #สลับตำแหน่ง list ข้อมูลก็จะเรียงจากตัวแปรของ list ตัวแรก

[2, 'xyz', [1, 2, 0.2, 'abc'], [1, 2, 0.0], 1, 2, 0.2, 'abc']

#### format string

```python
    f'string{ตัวแปร}' 
```
{} เรียกว่า curly brackets

In [203]:
f'ตัวแปร list_a มีค่าคือ {list_a}'

"ตัวแปร list_a มีค่าคือ [1, 2, 0.2, 'abc']"

## Loop

ทำงานซ้ำๆหรือทำงานคล้ายๆกัน

```python
for ตัวแปรที่จะรับค่าจากลิสต์ in ลิสต์ที่จะนำมาวนลูป : 
     do something  #in loop
     do another thing  #in loop

do another thing  #out side loop
  ```

In [204]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [205]:
for i in [1,2,3,4,5]:
    print(i+1)

2
3
4
5
6

In [206]:
for x in [1,2,3,4,5]:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [207]:
list5=[1,2,3,4,5]
for x in list5:
    print(f'ค่าตัวแปร x คือ {x} และ x+2={x+2}')

ค่าตัวแปร x คือ 1 และ x+2=3
ค่าตัวแปร x คือ 2 และ x+2=4
ค่าตัวแปร x คือ 3 และ x+2=5
ค่าตัวแปร x คือ 4 และ x+2=6
ค่าตัวแปร x คือ 5 และ x+2=7

In [208]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [209]:
for i in range(2,7):
    print(i)

2
3
4
5
6

In [210]:
for i in range(2,7,2):
    print(i)

2
4
6

In [211]:
for i in range(5):
    print('hahaha')

hahaha
hahaha
hahaha
hahaha
hahaha

In [212]:
for i in range(5):
    print('hahaha')
    x = i + 3
    print(f'i={i} x={x}')

hahaha
i=0 x=3
hahaha
i=1 x=4
hahaha
i=2 x=5
hahaha
i=3 x=6
hahaha
i=4 x=7

### Nested loop

In [213]:
for i in range(3):
    print(f'now i = {i}')
    print('start j loop')
    for j in range(4):
        print(f'i = {i} j = {j} i+j = {i+j}')
    print('end j loop')

now i = 0
start j loop
i = 0 j = 0 i+j = 0
i = 0 j = 1 i+j = 1
i = 0 j = 2 i+j = 2
i = 0 j = 3 i+j = 3
end j loop
now i = 1
start j loop
i = 1 j = 0 i+j = 1
i = 1 j = 1 i+j = 2
i = 1 j = 2 i+j = 3
i = 1 j = 3 i+j = 4
end j loop
now i = 2
start j loop
i = 2 j = 0 i+j = 2
i = 2 j = 1 i+j = 3
i = 2 j = 2 i+j = 4
i = 2 j = 3 i+j = 5
end j loop

## Condition (if ststement)

```python
if  เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง ทำงาน 2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำงานที่ x
```

In [222]:
stringx = 'sjbchabvgofxfchlijhcfgxedxdxgfhytrswrefzgjyyuacnaslnc'

if len(stringx) > 30:       
    print(f'{stringx} is longer than 30 characters')

sjbchabvgofxfchlijhcfgxedxdxgfhytrswrefzgjyyuacnaslnc is longer than 30 characters

In [224]:
stringx = 'sjbchabvgofxfchlijhcfgxedxdxgfhytrswrefzgjyyuacnaslnc'

if len(stringx) > 100:       
    print(f'{stringx} is longer than 30 characters')
else:
    print(f'{stringx} in {len(stringx)} characters long')

sjbchabvgofxfchlijhcfgxedxdxgfhytrswrefzgjyyuacnaslnc in 53 characters long

```python
if  เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงาน 1
    ถ้าเงื่อนไขเป็นจริง ทำงาน 2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง
    ถ้าเงื่อนไขเป็นจริง ทำงาน a1
    ถ้าเงื่อนไขเป็นจริง ทำงาน a2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง
    ถ้าเงื่อนไขเป็นจริง ทำงาน b1
    ถ้าเงื่อนไขเป็นจริง ทำงาน b2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำงานที่ x
```

In [225]:
password = '12345'

input_pass = '123'
if input_pass == password:
    print('Welcome!')
elif len(input_pass) > len(password):
    print('Too long, try again!')
elif len(input_pass) < len(password):
    print('Too short, try again!')
else:
    print('Wrong password, try again!')

Too short, try again!

Quiz 1 หา min

In [226]:
list_ex = [1,5,9,-19,-2,0]      # หาค่าน้อยที่สุดใน list_ex โดยไม่ใช้ function min

In [233]:
list_ex = [1,5,9,-19,-2,0] 

if len(list_ex) > 10:       
    print(f'{list_ex} is  than 10')
else:
    print(f'{list_ex} in {len(list_ex)}  Min')

[1, 5, 9, -19, -2, 0] in 6  Min

In [231]:
list_ex[3:4:2]

[-19]

In [234]:
#เฉลย
min = 100000000
for i in list_ex:
      if i < min:
          min = i

print(min)

-19

In [235]:
#เฉลย
min = 100000000
print(list_ex)
for i in list_ex:
      print(f'now i = {i}, min = {min}')
      print('start condition')
      if i < min:
          print(f'i < min, update min -> {i}')
          min = i
      else:
          print('i >= min, not update')
      print('end condition,go to next i')


print(min)

[1, 5, 9, -19, -2, 0]
now i = 1, min = 100000000
start condition
i < min, update min -> 1
end condition,go to next i
now i = 5, min = 1
start condition
i >= min, not update
end condition,go to next i
now i = 9, min = 1
start condition
i >= min, not update
end condition,go to next i
now i = -19, min = 1
start condition
i < min, update min -> -19
end condition,go to next i
now i = -2, min = -19
start condition
i >= min, not update
end condition,go to next i
now i = 0, min = -19
start condition
i >= min, not update
end condition,go to next i
-19

HW ตัดเกรด

In [ ]:
score = [49,65,70,95,82,55,89,20,77,77,81,59,10]    #ตัดเกรด คะแนนใน list score (ใช้ if กับ for)

## Function